.mid_content {
    --background: linear-gradient(0deg, rgb(5 36 96 / 50%), rgb(5 36 96 / 80%));
}
ion-avatar {
    width: 60px;
    height: 60px;
}

ion-list-header {
    font-size: 20px;
    color: #FFF;
    margin-top: 20px;
}
ion-toolbar {
    --background: #3560b7;
    --color: #FFF;
}
ion-title {
    font-size: 24px;
}
